/* Components -> Social icons */
.footer-social {
  padding: 1rem 0;
}
.social-icons {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin: 0;
}
.social-icons li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 2px solid #000000;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social-icons li a:hover {
  border: 2px solid var(--primary);
}
.social-icons i {
  padding: 10px;
}
/* components -> Scroll To Top. */
.scrolltop {
  background: var(--primary);
  color: #000000;
  transition: all 0.3s ease;
}
.scrolltop:hover {
  background: var(--secondary);
  color: #ffffff;
}
//accordionJs
#accordion {
  .accordion_question * {
    margin: 0;
    font-weight: bold;
  }

  .accordion_answer * {
    margin: 0;
  }
  //p {
  //margin: 0;
  //}
}
form#node-data-management-plan-form {
  td {
padding: 1rem;
  }
  td.field-multiple-drag {
  padding: 0;
  padding-top: 1rem;
}
  margin-top: 1rem;

  .button,
  .button,
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    background-color: #ccc;
    color: initial;
    border: 1px solid var(--upei-red);
    border-radius: 4px;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    padding: 0 5px;
  }
  button {
    //background-color: #fff;
  }
}
.footer-bottom-blocks .button {
  background: var(--upei-green);
  border: 4px solid var(--upei-yello);
  padding: 0 9px;
}
