//@format
.homepage-content .block-title {
  text-align: center;
  margin-bottom: 1rem;
}
.frontpage-main .block,
.homepage-content-bottom .block {
  margin-bottom: 5rem;
}
.region-content-home-top .block {
  padding: 4rem 0;
}
.region-content-home-top .block:nth-child(even) {
  position: relative;
  background: #f0f0f0;
}
.region-content-home-top .block:last-child {
  margin: 0;
}
//$slider-height: calc(75vh - 2rem);
$slider-height: 400px;
.slider {
  height: $slider-height;
  &-container {
    height: $slider-height;
  }
  &-text {
    flex: 80%;
  }
  &-image {
    flex: 20%;
    margin-top: 0 !important;
  }
}
